@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 98.35% 98.4%;
    --foreground: 34 6.7% 0.8%;

    --muted: 34 6.7% 92%;
    --muted-foreground: 34 3.35% 42%;

    --popover: 34 36.4% 92%;
    --popover-foreground: 34 6.7% 1%;

    --card: 34 36.4% 92%;
    --card-foreground: 34 6.7% 1%;

    --border: 34 11.7% 89.8%;
    --input: 34 11.7% 89.8%;

    --primary: 34 67% 20%;
    --primary-foreground: 34 1.34% 92%;

    --secondary: 34 3.35% 96%;
    --secondary-foreground: 34 5.0200000000000005% 12%;

    --accent: 34 3.35% 96%;
    --accent-foreground: 34 5.0200000000000005% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 34 67% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-raleway box-border;
  }
  body {
    @apply bg-background text-foreground box-border;
  }
  .h1 {
    @apply text-h1FontSize font-semibold;
  }
  .h2 {
    @apply text-h2FontSize font-semibold;
  }
  .h3 {
    @apply text-h3FontSize font-bold;
  }
  .h4 {
    @apply text-h4FontSize font-normal;
  }
  .h5 {
    @apply text-h5FontSize font-bold;
  }
  .h6 {
    @apply text-h6FontSize font-bold;
  }
  .paragraph {
    @apply text-base font-medium;
  }
  .small {
    @apply text-smallFontSize font-normal;
  }
  .extraSmall {
    @apply text-extraSmallFontSize font-light;
  }
  .my-container {
    @apply py-2 px-4 md:px-8 lg:px-12;
  }
  .my-section {
    @apply py-8 px-4 md:px-8 lg:px-12;
  }
}

@media (max-width: 639px) {
  * {
    font-size: 14px;
  }
}

/* Medium to Large */
@media (min-width: 640px) and (max-width: 1023px) {
  * {
    font-size: 16px;
  }
}

/* Extra Large */
@media (min-width: 1024px) {
  * {
    font-size: 18px;
  }
}

/* background image for hero image */
.heroImage {
  background-image: url("/Buildings.jpg");
}

/* spinner start*/
.blob {
  width: 89.6px;
  height: 89.6px;
  border: 11.2px solid #0000;
  padding: 5.6px;
  background: radial-gradient(farthest-side, hsl(var(--primary)) 98%, #0000) 0 0/22.4px
      22.4px no-repeat,
    conic-gradient(
        from 90deg at 11.2px 11.2px,
        #0000 90deg,
        hsl(var(--primary)) 0
      )
      content-box,
    conic-gradient(
        from -90deg at 44.8px 44.8px,
        #0000 90deg,
        hsl(var(--primary)) 0
      )
      content-box,
    #fff;
  filter: blur(3.4px) contrast(10);
  animation: blob-a4ofes 2s infinite;
}

@keyframes blob-a4ofes {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

/* spinner end */
